*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #0B2434;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main {
  background-color: #F5F5F5;
  width: 60vw; /* Kshyre ma vone me fit-content cysh po duken width edhe height */
  height: 90vh;
  border-radius: 10px;
}
